{% macro field(field, user=None, sizes='sm-2') %}
{% if field.is_visible(user) %}
{% set cols = form_grid(sizes) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.name }}_id"
        class="{{ cols.label }} control-label{% if field.required %} required{% endif %}">
        {{ _(field.label) }}
        {% if field.help_text %}<span class="form-help" data-content="{{ _(field.help_text) }}"></span>{% endif %}
    </label>
    <div class="{{ cols.control }}">
        {% if field.type == 'select' %}
        {{ select(field) }}
        {% elif field.type == 'markdown' %}
        {{ markdown(field) }}
        {% elif field.type == 'publish_as' %}
        {{ publish_as(field, user) }}
        {% else %}
        {{ input(field) }}
        {% endif %}
        {% for error in field.errors %}
        <label for="{{ field.name }}_id" class="help-block">{{ _(error).format(**field.__dict__) }}</label>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endmacro %}


{% macro input(field) %}
<input id="{{ field.name }}_id" name="{{ field.name }}" class="form-control"
    type="{{ field.type }}" placeholder="{{ _(field.label) }}"
    {% if field.data %}value="{{ field.data }}"{% endif %}
    {% if field.required %}required{% endif %}>
{% endmacro %}


{% macro select(field) %}
<select id="{{ field.name }}_id" name="{{ field.name }}" class="selectpicker form-control"
    {% if field.required %}required{% endif %}>
    {% for value, label in field.options %}
    <option value="{{ value }}">{{ _(label) }}</option>
    {% endfor %}
</select>
{% endmacro %}


{% macro markdown(field) %}
<textarea id="{{ field.name }}_id" name="{{ field.name }}" class="md form-control" rows="8"
    placeholder="{{ _(field.label) }}" {% if field.required %}required{% endif %}
    >{% if field.data %}{{ field.data }}{% endif %}</textarea>
{% endmacro %}


{% macro publish_as(field, user) %}
{% if user.organizations %}
<input id="{{ field.name }}_id" name="{{ field.name }}" type="hidden" {% if field.data %}value="{{ field.data }}"{% endif %}/>
<ul class="card-list">
    <li class="col-sm-3 col-md-2 publisher-card text-center {% if not field.data %}active{% endif %}">
        {{ publisher_avatar(user, None, 100) }}
        <div class="caption">{{ user.fullname }}</div>
    </li>
    {% for organization in user.organizations %}
    <li class="col-sm-3 col-md-2 publisher-card text-center {% if field.data == organization.id %}active{% endif %}"
        data-org-id="{{ organization.id }}">
        {{ publisher_avatar(user, organization, 100) }}
        <div class="caption">
        {% trans org=organization.display_name %}{{org}} member{% endtrans %}
        </div>
    </li>
    {% endfor %}
</ul>
<div class="clearfix"></div>
{% endif %}
{% endmacro %}


{% macro required_disclaimer(sizes='sm-2') %}
{% set cols = form_grid(sizes) %}
<div class="form-group">
    <div class="{{ cols.offset }} {{ cols.control }}">
        <p class="form-control-static">
            <span class="red">*</span>
            <i>{{ _('required fields') }}</i>
        </p>
    </div>
</div>
{% endmacro %}
