{% macro field(field, user=None, sizes='sm-2') %}
{% if field.is_visible(user) %}
{% set cols = form_grid(sizes) %}
<div class="form-group{% if field.errors %} has-error{% endif %}">
    <label for="{{ field.id }}"
        class="{{ cols.label }} control-label{% if field.flags.required %} required{% endif %}">
        {{ _(field.label.text) }}
        {% if field.description %}<span class="form-help" data-content="{{ _(field.description) }}"></span>{% endif %}
    </label>
    <div class="{{ cols.control }}">
        {% if field.type == 'PublishAsField' %}
        {{ publish_as(field, user) }}
        {% else %}
        {{ field(class_='form-control', placeholder=_(field.label.text), required=field.flags.required) }}
        {% endif %}
        {% for error in field.errors %}
        <label for="{{ field.id }}" class="help-block">{{ error }}</label>
        {% endfor %}
    </div>
</div>
{% endif %}
{% endmacro %}


{% macro publish_as(field, user) %}
{% if user.organizations %}
<input id="{{ field.id }}" name="{{ field.name }}" type="hidden" {% if field.data %}value="{{ field.data }}"{% endif %}/>
<ul class="card-list">
    <li class="col-sm-3 col-md-2 publisher-card text-center {% if not field.data %}active{% endif %}">
        {{ publisher_avatar(user, None, 100) }}
        <div class="caption">{{ user.fullname }}</div>
    </li>
    {% for organization in user.organizations %}
    <li class="col-sm-3 col-md-2 publisher-card text-center ellipsis-tooltip {% if field.data == organization.id %}active{% endif %}"
        data-org-id="{{ organization.id }}">
        {{ publisher_avatar(user, organization, 100) }}
        <div class="caption">
        {% trans org=organization.display_name %}{{org}} member{% endtrans %}
        </div>
    </li>
    {% endfor %}
</ul>
<div class="clearfix"></div>
{% endif %}
{% endmacro %}


{% macro required_disclaimer(sizes='sm-2') %}
{% set cols = form_grid(sizes) %}
<div class="form-group">
    <div class="{{ cols.offset }} {{ cols.control }}">
        <p class="form-control-static">
            <span class="red">*</span>
            <i>{{ _('required fields') }}</i>
        </p>
    </div>
</div>
{% endmacro %}
