@import "site.less";

.dataset-container {
    aside {
         a:hover .thumbnail, a:active .thumbnail {
            text-decoration: none;
        }
    }
}

.resources-list {
    margin-top: 20px;

    .list-group-item-heading, .list-group-item-text {
        margin-left: 40px;
        margin-bottom: 0px;
    }
}

aside {
    > * {
        margin-bottom: 10px;
    }

    a.btn {
        margin-bottom: 5px;
    }

    .groups {
        margin-top: 10px
    }
}
