@import "site.less";

aside {
    img.certified {
        position: absolute;
        top: -15px;
        right: -5px;
        widht: 70px;
        height: 70px;
        cursor: pointer;
    }

    .btn-block:not(:last-child), .tooltip-wrapper:not(:last-child) {
        margin-bottom: 7px;
    }
}

.pending-request {
    max-height: 55px;

    .avatar {
        float: left;
        margin-right: 10px;
    }

    .author-and-date {
        float: left;
        margin: 0 10px;
        display: inline-block;

        .user {
            display: block;
            line-height: 13px;
        }

        .date {
            color: @gray-light;
            font-size: 12px;
            font-style: italic;
        }
    }

    .comment {
        display: inline-block;
        margin: 0 10px;
        float: left;
    }
}
