@import "../bower/bootstrap/less/bootstrap.less";
@import "icons.less";
@import "variables.less";


.full-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.featured {
    a.thumbnail {
        text-decoration: none;
        height: 390px;
    }
}

.tab-datasets {
    tr {
        cursor: pointer;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// Custom buttons
.btn-dark {
    .button-variant(white; @bg-darker; @bg-dark);
}
.btn-highlight {
    .button-variant(white; @highlight; @highlight);
}


/**
 * Navbar style and fixes
 */
.navbar-static-top {
    .navbar-right .dropdown {
        margin-right: 5px;

        .caret {
            color: white;
            border-top-color: white;
            border-bottom-color: white;
        }
    }
}

/**
 * Sidebar style and fixes
 */
#sidebar {
    a {
        color: white;
        text-decoration: none;
    }

    .panel-heading {
        background-color: transparent;
        a {
            width: 100%
        }
    }

    ul.list-unstyled li{
        padding: 5px;
        -webkit-border-radius:4px;
        -webkit-transition:padding .2s ease, background .2s ease;

        &:hover, &:focus {
            padding-left: 15px;
            background-color: @highlight-dark;
        }
    }

    form {
        margin: 0;
        display: block;
    }

    input[type="search"] {
        color: white;
        background-color: @bg-darker;
        border-radius: 0;
    }

    .glyphicon {
        color: white;
    }

    .list-group-item {
        // margin: -2px 0;
        border-top: 2px solid lighten(@bg-dark, 20%);
        border-bottom: 2px solid darken(@bg-dark, 15%);

        &:hover, &:focus {
            background-color: @highlight-dark;
        }
    }
}

// Feeds fixes
.feeds {
    background-color: @gray-lighter;
    .table {
        margin: 0;
        table-layout: fixed;
    }
}
