@import "../bower/bootstrap/less/bootstrap.less";
@import "icons.less";
@import "variables.less";


.full-container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.featured {
    a.thumbnail {
        text-decoration: none;
        height: 340px;
        margin-bottom: 10px;
        background-color: darken(@body-bg, 5%);

        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.tab-datasets {
    tr {
        cursor: pointer;

        a {
            text-decoration: none;
            color: black;
        }
    }
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


// Custom buttons
.btn-dark {
    .button-variant(white; @bg-darker; @bg-dark);
}
.btn-highlight {
    .button-variant(white; @highlight; @highlight);
}


/**
 * Navbar style and fixes
 */
.navbar-static-top {
    .navbar-right .dropdown {
        margin-right: 5px;

        .caret {
            color: white;
            border-top-color: white;
            border-bottom-color: white;
        }
    }
}

/**
 * Sidebar style and fixes
 */
#sidebar {
    a {
        color: white;
        text-decoration: none;
    }

    .panel-heading {
        background-color: transparent;
        border-bottom: none;
        padding: 0;
        a {
            padding: 10px 15px;
            display: block;
            -webkit-transition:padding .2s ease, background .2s ease;

            &:hover, &:focus {
                padding-left: 15px;
                background-color: @highlight-dark;
            }
        }
    }

    .panel-body {
        background-color: @bg-dark;

        ul.list-unstyled {
            margin: 0;
            li{
                padding: 5px;
                -webkit-border-radius:4px;
                -webkit-transition:padding .2s ease, background .2s ease;

                &:hover, &:focus {
                    padding-left: 15px;
                    background-color: @list-group-hover-bg;
                }
            }
        }
    }

    form {
        margin: 0;
        display: block;
    }

    input[type="search"] {
        color: white;
        background-color: @bg-darker;
        border-radius: 0;
    }

    .glyphicon {
        color: white;
    }

    .list-group-item {
        border-top: 1px solid lighten(@bg-dark, 20%);
        border-bottom: 1px solid darken(@bg-dark, 15%);
        -webkit-transition:padding .2s ease, background .2s ease;

        &:hover, &:focus {
            padding-left: 20px;
            border-top: 1px solid lighten(@highlight-dark, 20%);
            border-bottom: 1px solid darken(@highlight-dark, 15%);
        }

        &:last-child {
            border-bottom: none;
        }
    }
}

// Feeds fixes
.feeds {
    background-color: @gray-lighter;

    .nav-tabs a {
        border: none;
    }

    .table {
        margin: 0;
        table-layout: fixed;
    }
}

// Fix carsoussel
.carousel-inner > .item > img { margin: 0 auto; }
