{% extends "forms/group-base-form.html" %}
{% import "macros/forms.html" as forms %}

{% set title = _('Edit organization members') if is_org else _('Edit group members') %}
{% set active_tab = 'members' %}

{% block formcontent %}
<table class="table table-stripped col-lg-offset-1 col-lg-10">
    <thead>
        <tr>
            <td width="40px"><span class="glyphicon glyphicon-user"></span></td>
            <td>{{ _('Name') }}</td>
            <td>{{ _('Role') }}</td>
        </tr>
    </thead>
    {% for member in members %}
    <tr>
        <td>{{ avatar(member, 30) }}</td>
        <td>{{ mamber.fullname }}</td>
        <td></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
