{% extends "site.html" %}
{% import "macros/forms.html" as forms %}

{% block title %}{{title}}{% endblock %}

{% block extra_head %}
{{ super() }}
{% assets 'forms-css' %}
<link rel="stylesheet" media="screen" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}

{% block content %}
<section class="form">
    <div class="animation"></div>
    <div class="container">

        <div class="row animover">
            {% if group %}
            <div class="card side-card text-center col-sm-4 col-md-3 col-lg-2">
                {% if group.certified_public_service %}
                <img src="{{static('/img/certified-stamp.png')}}" alt="certified"
                    class="certified" rel="popover"
                    data-title="{% trans %}Certified public service{% endtrans %}"
                    data-content="{% trans %}The identity of this public service public is certified by Etalab{% endtrans %}"
                    data-container="body" data-trigger="hover"/>
                {% endif %}
                <a href="{{ group_base_url }}/{{ group.name }}"
                    title="{{ group.title }}">
                    <img src="{{ group.image_url or static('/base/images/placeholder-group.png') }}"
                        alt="{{ group.title }}" class="img-responsive" />
                </a>
                <h3>{{ group.title }}</h3>
                <div class="caption text-left ellipsis-dot">
                    {{ markdown(group.description) }}
                </div>
            </div>
            <div class="col-sm-8 col-md-9 col-lg-10">
                <ul class="nav nav-pills">
                    {% for tab, label, form_url in (
                        ('description', _('Description'), 'edit'),
                        ('extras', _('Additional informations'), 'extras'),
                        ('members', _('Members'), 'members'),
                        ('requests', _('Membership requests'), 'requests'),
                    ) %}
                    <li {% if active_tab == tab %}class="active"{% endif %}>
                        <a href="{{ group_base_url }}/{{ form_url }}/{{ group.name }}">{{ label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% else %}
            <div class="page-header">
                <h1>{{ title }}</h1>
            </div>
            {% endif %}

            {% block formcontent %}
            <form class="form-horizontal validation" role="form" method="post">

                {% for field in form %}
                {{ forms.field(field, owner or user) }}
                {% endfor %}

                {{ forms.required_disclaimer() }}

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary" title="{{ title }}">
                            {{ _('Save') if group else _('Create') }}
                        </button>
                        <a href="{{ back_url }}" class="btn btn-warning" title="{{ _('Cancel') }}">
                            {{ _('Cancel') }}
                        </a>

                         {% if group %}
                        <button class="btn btn-danger pull-right" title="{{ _('Delete') }}"
                            data-toggle="modal" data-target="#confirm-delete-modal">
                            {{ _('Delete') }}
                        </button>
                        {% endif %}
                    </div>
                </div>

            </form>
            {% endblock %}
            {% if group %}</div>{% endif %}

        </div>

    </div>
</section>
{% endblock %}

{% block hiddens %}
{# Confirm delete modal #}
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog"
    aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirm-delete-modal-label">{{ _('Confirm deletion') }}</h4>
            </div>
            <div class="modal-body">
                <p>
                {{ _('You are about to delete this organization.') }}<br/>
                {{ _('This operation is unreversible') }}
                </p>
                <p><strong>{{ _('Are you sure ?') }}</strong></p>
            </div>
            <div class="modal-footer">
                <a href="{{ delete_url }}" class="btn btn-primary postable">{{ _('Yes') }}</a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{ _('No') }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% assets "forms-js", "animation-js" %}
<script src="{{ ASSET_URL}}"></script>
{% endassets %}
{% endblock %}
