<div class="row featured">
    <h2>{% trans %}Featured{% endtrans %}</h2>
    <div class="col-lg-4">
        <a class="thumbnail" href="http://wdmtg.com/">
            <img src="/hetic/img/wdmtg.png" alt="Generic placeholder image">
            <div class="caption">
                <h2>Where Does My Tweet Go?</h2>
                <p>Interface de visualisation, au travers d'un graph, de l'influence d'un tweet et des influenceurs.</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4">
        <a class="thumbnail" href="http://dataviz.rennesmetropole.fr/quisommesnous/index-fr.php">
            <img src="/hetic/img/rennes.png" alt="Generic placeholder image">
            <div class="caption">
                <h2>Métropole Rennes</h2>
                <p>Interface de visualisation destinée à faire un portrait des habitants de Rennes Métropole à partir de données ouvertes.</p>
            </div>
        </a>
    </div>

    <div class="col-lg-4">
        <a class="thumbnail" href="http://dataparis.io">
            <img src="/hetic/img/dataparis.png" alt="Generic placeholder image">
            <div class="caption">
                <h2>DataParis.io</h2>
                <p>Des données sur Paris et les Parisiens loclisées par le biais du réseau métropolitain.</p>
            </div>
        </a>
    </div>
</div>
