<div class="feeds panel panel-default">
    <ul class="nav nav-tabs nav-justified">
        <li class="active"><a href="#last-datasets" data-toggle="tab">{% trans %}Last{% endtrans %}</a></li>
        <li><a href="#popular-datasets" data-toggle="tab">{% trans %}Popular{% endtrans %}</a></li>
    </ul>

    <div class="tab-content tab-datasets">
        <div class="tab-pane active" id="last-datasets">
            <table class="table table-striped table-hover">
                {% for dataset in last_datasets %}
                <tr>
                    <td class="ellipsis">
                        <a href="{{ url('dataset', dataset.name) }}">{{ dataset.title }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="tab-pane" id="popular-datasets">
            <table class="table table-striped table-hover">
                {% for dataset in popular_datasets %}
                <tr>
                    <td class="ellipsis">
                        <a href="{{ url('dataset', dataset.name) }}">{{ dataset.title }}</a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
