<div class="home_feeds">
    <ul class="home_feeds_tabs">
        <li data-tab="last_data" class="active">Les plus<br>récentes</li>
        <li data-tab="popular_data">Les plus<br/>populaires</li>
    </ul>
    <div class="home_feeds_content">
        <ul class="last_data active">
            <li><a href="#">Remise des prix DataConnexions #3</a><span class="feed_date news">22/06/2013</span></li>
            <li><a href="#">Le G8 signe une Charte pour l’Ouverture des Données Publiques</a><span class="feed_date news">16/06/2013</span></li>
            <li><a href="#">Datajournalisme : Des données pour s’informer</a><span class="feed_date news">12/06/2013</span></li>
            <li><a href="#">Contribution de data publica à la consultation codesign</a><span class="feed_date news">05/06/2013</span></li>
            <li><a href="#">Lancement de la phase 2 du codesign</a><span class="feed_date news">27/05/2013</span></li>
            <li><a href="#">Etalab lance le codesign du prochain data.gouv.fr</a><span class="feed_date news">23/05/2013</span></li>
            <li><a href="#">Les entreprises publiques à l’heure de l’open data</a><span class="feed_date news">17/05/2013</span></li>
            <li><a href="#">Openstreetmap complète sa carte du monde interactive</a><span class="feed_date news">11/05/2013</span></li>
        </ul>
        <ul class="popular_data">
            <li><span class="${'data_add' if activity.activity_type == 'new package' else 'data_update'}"></span><a href="${urls.get_url(ctx, 'dataset', package['name'])}">${title}<span>a été ${u'ajouté'  if activity.activity_type == 'new package' else u'modifié'}</span></a><span class="feed_date">${activity.timestamp.isoformat().split('T')[0]}</span></li>
        </ul>
    </div>
</div>
