<div class="home_feeds">
    <ul class="home_feeds_tabs">
        <li data-tab="last_data" class="active">Les plus<br>récentes</li>
        <li data-tab="popular_data">Les plus<br/>populaires</li>
    </ul>
    <div class="home_feeds_content">
        <ul class="last_data active">
            {% for dataset in last_datasets %}
            <li>
                <span class="data_{{ ifelse(dataset.new, 'add', 'update') }}"></span>
                <a href="{{ url('dataset', dataset.package) }}">
                    {{ dataset.title|truncate(65) }}
                    {# <span>a été {{ ifelse(dataset.new, 'ajouté', 'modifié') }}</span> #}
                </a>
                <span class="feed_date">{{ dataset.timestamp|datetime}}</span>
            </li>
            {% endfor %}
        </ul>

        <ul class="popular_data">
            {% for dataset in popular_datasets %}
            <li>
                <a href="{{ url('dataset', dataset.name) }}">{{ dataset.title|truncate(65) }}</a>
                <span class="feed_date news">{{ dataset.timestamp|datetime }}</span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
