{% extends "site.html" %}
{% from "macros/paginator.html" import paginator %}

{% set style = 'group' %}

{% block title %}{{ group.title }}{% endblock %}

{% block subnav %}{% include 'subnav-topic.html' %}{% endblock %}

{% block content %}
<section class="default">
    <div class="container">

        {% if datasets.results %}
        {% set start = ((datasets.page - 1) * datasets.page_size) + 1 %}
        {% set end = start - 1 + datasets.results|length %}
        <p class="lead">
            {% trans total=datasets.total %}Datasets {{start}} to {{end}} of {{total}}{% endtrans %}
        </p>
        <ul class="search-results">
            {% for dataset in datasets.results %}
            {% include "widgets/dataset-search-result.html" %}
            {% endfor %}
        </ul>

        {{ paginator(datasets.page, datasets.total_pages, url_pattern) }}
        {% endif %}

    </div>
</section>
{% endblock %}

{% block hiddens %}
<div id="topic-modal" class="modal fade" tabindex="-1" role="dialog"
    aria-labelledby="topic-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="topic-modal-title" class="modal-title">{{ group.title }}</h4>
            </div>
            <div class="modal-body">
                {{ markdown(group.description) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ _('Close') }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% assets "group-js", "animation-js" %}
<script src="{{ ASSET_URL}}"></script>
{% endassets %}
{% endblock %}
