<header class="mainheader">
    <a href="{{ url() }}">
        <h1>Data.Gouv.fr</h1>
        <span>La plate-forme ouverte des données publiques françaises</span>
    </a>

    <nav class="mainnav">
        <ul>

            <!-- Static -->
            <li class="nav_pages">
                <ul>
                    <li>
                        <span>Données publiques</span>
                        <ul>
                            <li><a href="#">Définition</a></li>
                            <li><a href="{{ url('organization') }}">Producteurs</a></li>
                            <li><a href="http://www.etalab.gouv.fr/pages/licence-ouverte-open-licence-5899923.html">Licence Ouverte</a></li>
                            <li><a href="#">Quelles données ?</a></li>
                            <li><a href="http://www.etalab.gouv.fr/">ETALAB</a></li>
                        </ul>
                    </li>
                </ul>
            </li>

            <!-- Search -->
            <li class="nav_search">
                <ul>
                    <li class="searchnav">
                        <form action="{{ url('dataset')}}">
                            <input name="q" type="search" placeholder="Rechercher..." />
                            <input type="submit" value="&#xe00a;">
                        </form>
                    </li>
                </ul>
            </li>


            <!-- Rubrics -->
            <li class="nav_rubrics">
                <ul>
                    {% for group in groups %}
                    <li>
                        <span><a href="{{ url('group', slugify(group)) }}">{{ group }}</a></span>
                    </li>
                    {% endfor %}
                </ul>
            </li>

        </ul>
    </nav>
</header>
