{% extends "site.html" %}

{% set style = 'home' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block subnav %}{% include 'subnav.html' %}{% endblock %}

{% block content %}
<section class="default">
    <div class="container">

        {# First row #}
        <div class="row first-row">

            {# News highlight #}
            <div class="col-md-4">
                <h3>{{ _('News') }}</h3>
                <div id="news-carousel" class="carousel slide">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="slide" src="{{ static('images/homepage/hommes-femmes.jpg') }}"
                                alt="Projet de loi pour l’égalité entre les femmes et les hommes">

                            <div class="carousel-caption">
                                <label>{{ _('Discussion topic') }}</label>
                                <h4 class="title">
                                    <a href="http://wiki.etalab2.fr/wiki/L%27%C3%A9galit%C3%A9_Femmes_Hommes"
                                        title="Projet de loi pour l’égalité entre les femmes et les hommes">
                                        Projet de loi pour l’égalité entre les femmes et les hommes
                                    </a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# end News highlight #}

            {# Carousel #}
            <div class="col-md-8">
                <h3>{{ _('Best reuse cases') }}</h3>
                <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">

                        {% for reuse, owner in featured_reuses %}
                        <div class="item {% if loop.first %}active{% endif %}">
                            <img class="slide" src="{{ reuse.image_url }}" alt="{{ reuse.title.format(**territory) }}">
                            <div class="carousel-caption">
                                <div class="slide-logo pull-left publisher-avatar-80">
                                    <div class="frame">
                                        <a title="{{ owner.display_name }}"
                                            href="{{ sso('user', owner.name) }}">
                                            {# <img alt="{{ organization.title }}"
                                                src="{{ organization.image_url }}"> #}
                                            {{ avatar(owner, 80) }}
                                        </a>
                                    </div>
                                </div>
                                <h4 class="title ellipsis-dot">
                                    <a href="{{ reuse.url.format(**territory) }}" title="{{ reuse.title.format(**territory) }}">
                                    {{ reuse.title.format(**territory) }}
                                    </a>
                                    <label>{{ markdown_extract(reuse.description, 250) }}</label>
                                </h4>
                                {% if user.sysadmin %}
                                <a class="btn btn-xs btn-warning unfeature" rel="tooltip" href
                                    data-api="{{ url('youckan/reuse', reuse.id, 'unfeature') }}"
                                    title="{{ _('Unmark as featured') }}">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            {# end carousel #}

        </div>
        {# end first row #}


        {# Dataset tabs #}
        <div class="row">
            <div class="col-xs-12">
                <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
                    {% for tab_id, label, datasets in dataset_tabs %}
                    <li {% if loop.first %}class="active"{% endif %}>
                        <a href="#{{tab_id}}" data-toggle="tab">{{ label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="tab-content">

                {% for tab_id, label, datasets in dataset_tabs  %}
                <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{tab_id}}">
                    <ul class="card-list">

                        {% for dataset in datasets %}
                        <li class="col-md-4 col-sm-6">
                            {% include "cards/dataset-card.html" %}
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                {% endfor %}

            </div>
        </div>
        {# end Dataset tabs #}

    </div>
</section>
{% endblock %}

{% block hiddens %}
<meta name="is-unfeatured-i18n"
    content="{{ _('This reuse is no more featured and will not be visible anymore at page reload') }}">
<meta name="featured-error-i18n" content="{{ _('Error while removing featured state') }}">
{% endblock %}

{% block javascript %}
{% assets "home-js" %}
<script src="{{ ASSET_URL}}"></script>
{% endassets %}
{% endblock %}
