{% extends "site.html" %}

{% set style = 'home' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block content %}
{% include 'subnav.html' %}

<div class="container">

    {# First row #}
    <div class="row first-row">

        {# News highlight #}
        <div class="col-md-4">
            <h3>{{ _('News') }}</h3>
            <div id="news-carousel" class="carousel slide">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide" src="{{ static('images/homepage/hommes-femmes.jpg') }}"
                            alt="Projet de loi pour l’égalité entre les femmes et les hommes">

                        <div class="carousel-caption">
                            <label>{{ _('Discussion topic') }}</label>
                            <h4 class="title">
                                <a href="http://wiki.etalab2.fr/wiki/L%27%C3%A9galit%C3%A9_Femmes_Hommes"
                                    title="Projet de loi pour l’égalité entre les femmes et les hommes">
                                    Projet de loi pour l’égalité entre les femmes et les hommes
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# end News highlight #}

        {# Carousel #}
        <div class="col-md-8">
            <h3>{{ _('Best reuse cases') }}</h3>
            <div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    {% for reuse, owner in featured_reuses %}
                    <div class="item {% if loop.first %}active{% endif %}">
                        <img class="slide" src="{{ reuse.image_url }}" alt="{{ reuse.title }}">
                        <div class="carousel-caption">
                            <a class="slide-logo pull-left" title="{{ owner.display_name }}"
                                href="{{ url(lang, 'user', owner.name) }}">
                                {# <img alt="{{ organization.title }}"
                                    src="{{ organization.image_url }}"> #}
                                {{ gravatar(owner.email_hash, 80) }}
                            </a>
                            <h4 class="title">
                                <a href="{{ reuse.url }}" title="{{ reuse.title }}">
                                {{ reuse.title }}
                                </a>
                            </h4>
                            <label>{{ markdown_extract(reuse.description, 180) }}</label>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        {# end carousel #}

    </div>
    {# end first row #}


    {# Tabbar #}
    <div class="row">
        <div class="col-xs-12">
            <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
                <li class="active"><a href="#popular" data-toggle="tab">{{ _('Most popular') }}</a></li>
                <li><a href="#recent" data-toggle="tab">{{ _('Latest')}}</a></li>
            </ul>
        </div>
    </div>
    {# end Tabbar #}

    <div class="row">
        <div class="tab-content">

            {% for dataset_id, datasets in (('popular', popular_datasets), ('recent', last_datasets))  %}
            <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{dataset_id}}">
                <ul class="card-list">

                    {% for dataset in datasets %}
                    <div class="col-md-4 col-sm-8">
                        <li class="card dataset-result">
                            {% if dataset.organization %}
                            <a class="card-logo" href="">
                                <img alt="{{ dataset.organization.title }}"
                                    src="{{ dataset.organization.image_url or static('/base/images/placeholder-organization.png') }}">
                            </a>
                            {% endif %}
                            <div class="card-body">
                                <h4>
                                    <a href="{{ url(lang, 'dataset', dataset.name) }}" title="{{dataset.display_name}}">
                                        {{ dataset.display_name }}
                                    </a>
                                </h4>
                                {{ markdown_extract(dataset.notes, 180) }}

                                <ul class="card-footer">
                                    {# Temporal coverage #}
                                    {% if dataset.temporal_coverage.from and dataset.temporal_coverage.to %}
                                    <li>
                                        <a href class="btn btn-xs btn-default" rel="tooltip"
                                            data-placement="top" data-container="body"
                                            title="{% trans %}Temporal coverage{% endtrans %}">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </a>
                                        {% trans from=dataset.temporal_coverage.from|date(locale=lang), to=dataset.temporal_coverage.to|date(locale=lang) -%}
                                        {{ from }} to {{ to }}
                                        {%- endtrans %}
                                    </li>
                                    {% endif %}

                                    {# Periodicity #}
                                    {% if dataset.periodicity %}
                                    <li>
                                        <a href class="btn btn-xs" rel="tooltip"
                                            data-placement="top" data-container="body"
                                            title="{% trans %}Periodicity{% endtrans %}">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </a>
                                        {{ dataset.periodicity }}
                                    </li>
                                    {% endif %}

                                    {# Territorial coverage #}
                                    {% if dataset.territorial_coverage.name %}
                                    <li>
                                        <a href class="btn btn-xs btn-default" rel="tooltip"
                                            data-placement="top" data-container="body"
                                            title="{% trans %}Territorial coverage{% endtrans %}">
                                            <span class="glyphicon glyphicon-globe"></span>
                                        </a>
                                        {{ dataset.territorial_coverage.name|tooltip_ellipsis(15) }}
                                    </li>
                                    {% endif %}

                                    {% if dataset.territorial_coverage.granularity %}
                                    <li>
                                        <a href class="btn btn-xs btn-default" rel="tooltip"
                                            data-placement="top" data-container="body"
                                            title="{% trans %}Territorial coverage granularity{% endtrans %}">
                                            <span class="glyphicon glyphicon-screenshot"></span>
                                        </a>
                                        {{ dataset.territorial_coverage.granularity }}
                                    </li>
                                    {% endif %}
                                </ul>
                                <div class="card-text-mask"></div>
                            </div>
                        </li>
                    </div>
                    {% endfor %}

                </ul>
            </div>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
{% assets "home-js" %}
<script src="{{ ASSET_URL}}"></script>
{% endassets %}
{% endblock %}
