{% extends "site.html" %}

{% set style = 'home' %}

{% block title %}{% trans %}Home{% endtrans %}{% endblock %}

{% block content %}
{% include 'subnav.html' %}

<div class="container">

    {# First row #}
    <div class="row first-row">

        {# News highlight #}
        <div class="col-md-4">
            <h3>{{ _('News') }}</h3>
            <div id="news-carousel" class="carousel slide">
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    <div class="item active">
                        <img class="slide" src="{{ static('images/homepage/hommes-femmes.jpg') }}"
                            alt="Projet de loi pour l’égalité entre les femmes et les hommes">

                        <div class="carousel-caption">
                            <label>{{ _('Discussion topic') }}</label>
                            <h4 class="title">
                                <a href="http://wiki.etalab2.fr/wiki/L%27%C3%A9galit%C3%A9_Femmes_Hommes"
                                    title="Projet de loi pour l’égalité entre les femmes et les hommes">
                                    Projet de loi pour l’égalité entre les femmes et les hommes
                                </a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {# end News highlight #}

        {# Carousel #}
        {# TODO: extract and dynamize #}
        <div class="col-md-8">
            <h3>{{ _('Best reuse cases') }}</h3>
            <div id="home-carousel" class="carousel slide">
              <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#home-carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#home-carousel" data-slide-to="1"></li>
                    <li data-target="#home-carousel" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner">

                    <div class="item active">
                        <img class="slide" src="{{ static('images/homepage/dataviz-le-monde.png') }}" alt="Les aides aux entreprises">
                        <div class="carousel-caption">
                            {# <a class="slide-logo pull-left"
                                href="http://www.lemonde.fr/politique/visuel/2013/07/17/l-impossible-simplification-des-aides-aux-entreprises_3448359_823448.html">
                                <img alt="{{ dataset.organization.title }}"
                                    src="{{ dataset.organization.image_url }}">
                            </a> #}
                            <label>{% trans %}Citizens{% endtrans %}</label>
                            <h4 class="title">
                                <a href="" title="Les aides aux entreprises">
                                Les aides aux entreprises
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="item">
                        <img class="slide" src="{{ static('images/homepage/logo_lacub.jpg') }}"
                            alt="Communauté Urbaine de Bordeaux">
                        <div class="carousel-caption">
                            {# <a class="slide-logo pull-left" href="">
                                <img alt="{{ dataset.organization.title }}"
                                    src="{{ dataset.organization.image_url }}">
                            </a> #}
                            <label>{% trans %}Public services{% endtrans %}</label>
                            <h4 class="title">
                                <a href="{{ url(lang, 'dataset/comptage-du-trafic-cub-rdl') }}"
                                    title="Communauté Urbaine de Bordeaux">
                                    Communauté Urbaine de Bordeaux
                                </a>
                            </h4>
                        </div>
                    </div>
                    <div class="item">
                        <img class="slide" src="{{ static('images/homepage/handistrict.png') }}"
                            alt="Handistrict, la cartographie de l'accessibilité en France">
                        <div class="carousel-caption">
                            {# <a class="slide-logo pull-left" href="">
                                <img alt="{{ dataset.organization.title }}"
                                    src="{{ dataset.organization.image_url }}">
                            </a> #}
                            <label>{% trans %}Businesses{% endtrans %}</label>
                            <h4 class="title">
                                <a href="http://handistrict.com/" title="Handistrict, la cartographie de l'accessibilité en France">
                                Handistrict, la cartographie de l'accessibilité en France
                                </a>
                            </h4>
                        </div>
                    </div>

                </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#home-carousel" data-slide="prev">
                    <span class="icon-prev"></span>
                </a>
                <a class="right carousel-control" href="#home-carousel" data-slide="next">
                    <span class="icon-next"></span>
                </a>
            </div>
        </div>
        {# end carousel #}

    </div>
    {# end first row #}


    {# Tabbar #}
    <div class="row">
        <div class="col-xs-12">
            <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
                <li class="active"><a href="#popular" data-toggle="tab">{{ _('Most popular') }}</a></li>
                <li><a href="#recent" data-toggle="tab">{{ _('Latest')}}</a></li>
            </ul>
        </div>
    </div>
    {# end Tabbar #}

    <div class="row">
        <div class="tab-content">

            {% for dataset_id, datasets in (('popular', popular_datasets), ('recent', last_datasets))  %}
            <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{dataset_id}}">
                <ul class="search-results">

                    {% for dataset in datasets %}
                    <div class="col-md-4 col-sm-8">
                        <li class="search-result dataset-result">
                            {% if dataset.organization %}
                            <a class="result-logo pull-left" href="">
                                <img alt="{{ dataset.organization.title }}"
                                    src="{{ dataset.organization.image_url or static('/base/images/placeholder-organization.png') }}">
                            </a>
                            {% endif %}
                            <div class="result-body">
                                <h4>
                                    <a href="{{ url(lang, 'dataset', dataset.name) }}" title="{{dataset.display_name}}">
                                        {{ dataset.display_name }}
                                    </a>
                                </h4>
                                {{ markdown_extract(dataset.notes, 180) }}

                                <ul class="list-inline result-infos">
                                    {# Temporal coverage #}
                                    {% if dataset.temporal_coverage.from and dataset.temporal_coverage.to %}
                                    <li>
                                        <a href class="btn btn-xs btn-default" rel="tooltip"
                                            data-placement="top" data-container="body"
                                            title="{% trans %}Temporal coverage{% endtrans %}">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </a>
                                        {% trans from=dataset.temporal_coverage.from|date(locale=lang), to=dataset.temporal_coverage.to|date(locale=lang) -%}
                                        {{ from }} to {{ to }}
                                        {%- endtrans %}
                                    </li>
                                    {% endif %}

                                    {# Periodicity #}
                                    {% if dataset.periodicity %}
                                    <li>
                                        <a href class="btn btn-xs" rel="tooltip"
                                            data-placement="top" data-container="body"
                                            title="{% trans %}Periodicity{% endtrans %}">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </a>
                                        {{ dataset.periodicity }}
                                    </li>
                                    {% endif %}

                                    {# Territorial coverage #}
                                    {% if dataset.territorial_coverage.name %}
                                    <li>
                                        <a href class="btn btn-xs btn-default" rel="tooltip"
                                            data-placement="top" data-container="body"
                                            title="{% trans %}Territorial coverage{% endtrans %}">
                                            <span class="glyphicon glyphicon-globe"></span>
                                        </a>
                                        {% set ellipsis = '<a href title="{0}">...</a>'.format(dataset.territorial_coverage.name) %}
                                        {{ dataset.territorial_coverage.name|truncate(15, True, ellipsis) }}
                                    </li>
                                    {% endif %}

                                    {% if dataset.territorial_coverage.granularity %}
                                    <li>
                                        <a href class="btn btn-xs btn-default" rel="tooltip"
                                            data-placement="top" data-container="body"
                                            title="{% trans %}Territorial coverage granularity{% endtrans %}">
                                            <span class="glyphicon glyphicon-screenshot"></span>
                                        </a>
                                        {{ dataset.territorial_coverage.granularity }}
                                    </li>
                                    {% endif %}
                                </ul>
                                <div class="result-text-mask"></div>
                            </div>
                        </li>
                    </div>
                    {% endfor %}

                </ul>
            </div>
            {% endfor %}

        </div>
    </div>

</div>
{% endblock %}

{% block javascript %}
{% assets "home-js" %}
<script src="{{ ASSET_URL}}"></script>
{% endassets %}
{% endblock %}
