<section class="header">
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <header class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target=".navbar-collapse, .subnav-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url(lang) }}">Etalab2.fr</a>
                <p class="navbar-text pull-right">{% trans %}Open platform for french public data{% endtrans %}</p>
            </header>
        </nav>
    </div>
</section>

<section class="topmenu">
    <div class="container">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
            <ul class="nav navbar-nav links">
                <li><a href="http://wiki.etalab2.fr/wiki/FAQ">{% trans %}How it works ?{% endtrans %}</a></li>
                <li><a href="{{ url(lang, 'organization') }}">{% trans %}Publishers{% endtrans %}</a></li>
                <li>
                    <a href="http://www.etalab.gouv.fr/pages/licence-ouverte-open-licence-5899923.html">
                        {% trans %}Open license{% endtrans %}
                    </a>
                </li>
                <li><a href="http://www.etalab.gouv.fr/">Etalab</a></li>
            </ul>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown user">
                        <button class="btn-link dropdown-toggle {% if not user %}tofix{% endif %}" data-toggle="dropdown">
                            {% if user %}
                                {{gravatar(user.email_hash, 30)}} {{ user.display_name }}
                            {% else %}
                                {% trans %}Sign In / Register{% endtrans %}
                            {% endif %}
                        </button>
                        <ul class="dropdown-menu">
                            {% if user %}
                                {% if user.sysadmin %}
                                <li>
                                    <a href="{{ url(lang, 'ckan-admin') }}" title="{% trans %}Sysadmin settings{% endtrans %}">
                                        <span class="glyphicon glyphicon-wrench"></span>
                                        {% trans %}Sysadmin settings{% endtrans %}
                                    </a>
                                </li>
                                {% endif %}
                                <li>
                                    <a href="{{ url(lang, 'user', user.name) }}", title="{% trans %}Profile{% endtrans %}">
                                        <span class="glyphicon glyphicon-user"></span>
                                        {% trans %}Profile{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url(lang, 'dashboard') }}", title="{% trans %}Dashboard{% endtrans %}">
                                        <span class="glyphicon glyphicon-dashboard"></span>
                                        {% trans %}Dashboard{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url(lang, 'user', 'edit', user.name) }}" title="{% trans %}Settings{% endtrans %}">
                                        <span class="glyphicon glyphicon-cog"></span>
                                        {% trans %}Settings{% endtrans %}
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{{ url(lang, 'user', 'logout') }}" title="{% trans %}Log out{% endtrans %}">
                                        <span class="glyphicon glyphicon-log-out"></span>
                                        {% trans %}Log out{% endtrans %}
                                    </a>
                                </li>
                            {% else %}
                                <li>
                                    <a href="{{ url(lang, 'user', 'login') }}" title="{% trans %}Sign In{% endtrans %}">
                                        <span class="glyphicon glyphicon-log-in"></span>
                                        {% trans %}Sign In{% endtrans %}
                                    </a>
                                </li>
                                <li>
                                    <a href="{{ url(lang, 'user', 'register') }}" title="{% trans %}Register{% endtrans %}">
                                        <span class="glyphicon glyphicon-edit"></span>
                                        {% trans %}Register{% endtrans %}
                                    </a>
                                </li>
                            {% endif %}
                        </ul>
                    </li>
                    {%- set has_ckan = has_ckan|default(True) -%}
                    {# {% if user and has_ckan %}
                    <li>
                        <a class="btn btn-link" title="{% trans %}Advanced mode{% endtrans %}"
                            href="{{ CKAN_URL|safe }}{{ current_location|safe }}">
                            <span class="icon icon-factory"></span>
                        </a>
                    </li>
                    {% endif %} #}
                    <li class="dropdown language">
                        <button class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                            <img src="/img/flags/{{lang}}.png" alt="Current locale flag" />
                        </button>
                        <ul class="dropdown-menu">
                            {% for code, name in languages.items() %}
                            <li>
                                <a href="{{ url(code) }}{{ current_base_location|safe }}">
                                    <img src="/img/flags/{{code}}.png" alt="{{name}} flag" />
                                    {{name}}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</section>

