{% extends "site.html" %}

{% set style = 'organization' %}

{% block title %}{{organization.title}}{% endblock %}

{% block content %}
<section class="default">
    <div class="container organization-container"
        data-organization-id="{{ organization.id }}"
        data-organization-title="{{ organization.title }}">

        <div class="row">

            <div class="col-sm-9">
                <h1>
                    {{ organization.title }}
                    {% if can_edit %}
                    <small>
                        <a class="btn btn-xs btn-default"
                            href="{{ url(lang, 'organization/edit', organization.name) }}">
                            <span class="glyphicon glyphicon-edit" ></span>
                            {% trans %}Edit{% endtrans %}
                        </a>
                    </small>
                    {% endif %}
                </h1>
                <div>{{ markdown(organization.description) }}</div>
            </div>

            {# Left sidebar with organization aside ( counters, logo, social...) #}
            <aside class="col-sm-3 card">
                {% if organization.certified_public_service %}
                    <img src="{{static('/img/certified-stamp.png')}}" alt="certified"
                        class="certified" rel="popover"
                        data-title="{% trans %}Certified public service{% endtrans %}"
                        data-content="{% trans %}This organization and its datasets are certified by data.gouv.fr{% endtrans %}"
                        data-container="body" data-placement="left" data-trigger="hover"/>
                {% endif %}
                <div class="text-center">
                    <img src="{{organization.image_url or static('/base/images/placeholder-organization.png') }}"
                        alt="{{ organization.title }}" class="scalable" />
                </div>
                <br/>
                <p class="text-center">
                    <strong>{% trans nb=nb_members %}{{nb}} member{% pluralize %}{{nb}} members{% endtrans %}</strong>
                </p>
                <p class="text-center">
                    <strong>{% trans nb=nb_followers %}{{nb}} follower{% pluralize %}{{nb}} followers{% endtrans %}</strong>
                </p>
                <p class="text-center">
                    <strong>{% trans nb=nb_datasets %}{{nb}} dataset{% pluralize %}{{nb}} datasets{% endtrans %}</strong>
                </p>
                {% if not is_member %}
                    {% if not pending %}
                    <a href rel="tooltip" class="btn btn-primary btn-block btn-sm icon-left membership"
                        data-api="{{ url('youckan/organization', organization.name, 'membership') }}"
                        title="{% trans %}I belong to this organization{% endtrans %}">
                        <span class="glyphicon glyphicon-user"></span>
                        {% trans %}Join{% endtrans %}
                    </a>
                    {% endif %}
                    <div class="tooltip-wrapper" rel="tooltip" title="{% trans %}Waiting for approval{% endtrans %}">
                        <a id="pending-button" href rel="tooltip"
                            class="btn btn-default btn-block btn-sm icon-left disabled {% if not pending %}hide{% endif %}"
                            >
                            <span class="glyphicon glyphicon-user"></span>
                            {% trans %}Pending request{% endtrans %}
                        </a>
                    </div>
                {% elif is_admin %}
                <div class="tooltip-wrapper" rel="tooltip" title="{% trans %}You are an administrator of this organization{% endtrans %}">
                    <a href class="btn btn-default btn-block btn-sm icon-left disabled">
                        <span class="glyphicon glyphicon-user"></span>
                        {% trans %}Administrator{% endtrans %}
                    </a>
                </div>
                {% elif is_editor %}
                <div class="tooltip-wrapper" rel="tooltip" title="{% trans %}You are editor in this organization{% endtrans %}">
                    <a href class="btn btn-default btn-block btn-sm icon-left disabled">
                        <span class="glyphicon glyphicon-user"></span>
                        {% trans %}Editor{% endtrans %}
                    </a>
                </div>
                {% else %}
                <div  class="tooltip-wrapper" rel="tooltip" title="{% trans %}You are a member of this organization{% endtrans %}">
                    <a href class="btn btn-default btn-block btn-sm icon-left disabled">
                        <span class="glyphicon glyphicon-user"></span>
                        {% trans %}Member{% endtrans %}
                    </a>
                </div>
                {% endif %}

                <a href class="btn btn-primary btn-block btn-sm icon-left follow"
                    data-is-following="{% if is_following %}true{% else %}false{% endif %}"
                    data-follow-api="{{ url('api/3/action/follow_group') }}"
                    data-unfollow-api="{{ url('api/3/action/unfollow_group') }}"
                    data-follow-label="{% trans %}Follow{% endtrans %}"
                    data-unfollow-label="{% trans %}Unfollow{% endtrans %}"
                    {% if is_following %}
                    title="{% trans %}Unfollow{% endtrans %}">
                    <span class="glyphicon glyphicon-eye-close"></span>
                    {% trans %}Unfollow{% endtrans %}
                    {% else %}
                    title="{% trans %}Follow{% endtrans %}">
                    <span class="glyphicon glyphicon-eye-open"></span>
                    {% trans %}Follow{% endtrans %}
                    {% endif %}
                </a>
            </aside>
        </div>

        {# Dataset tabs #}
        <div class="row">
            <div class="col-xs-12">
                <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
                    {% for tab_id, label, datasets in dataset_tabs %}
                    <li {% if loop.first %}class="active"{% endif %}>
                        <a href="#{{tab_id}}" data-toggle="tab">{{ label }}</a>
                    </li>
                    {% endfor %}
                    {% if is_admin and pending_requests %}
                    <li>
                        <a href="#pending-requests" data-toggle="tab">{{ _('Membership requests') }}</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="tab-content">

                {% for tab_id, label, datasets in dataset_tabs  %}
                <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{tab_id}}">
                    {% if datasets %}
                    <ul class="card-list">
                        {% for dataset in datasets %}
                        <li class="col-md-4 col-sm-6">
                            {% include "cards/dataset-card.html" %}
                        </li>
                        {% endfor %}
                    </ul>
                    {% else %}
                    <p class="text-center">
                        <br/><br/>
                        <strong>{{ _('No dataset') }}</strong>
                    </p>
                    {% endif %}
                </div>
                {% endfor %}

                {% if is_admin and pending_requests %}
                <div class="tab-pane" id="pending-requests">
                    <ul class="card-list">
                        {% for request in pending_requests %}
                        <li class="card pending-request">
                            <a class="avatar" href="{{ sso('user', request.user.name) }}"
                                title="{{ request.user.display_name }}">
                                {{ avatar(request.user, 30) }}
                            </a>
                            <div class="author-and-date">
                                <a class="user" href="{{ sso('user', request.user.name) }}"
                                    title="{{ request.user.display_name }}">
                                    {{ request.user.display_name }}
                                </a>
                                <span class="date">{{ request.created|date(format='long', locale=lang) }}</span>
                            </div>
                            <div class="comment">{{ request.comment }}</div>
                            <div class="btn-toolbar pull-right">
                                <div class="btn-group btn-group-sm">
                                    <a href class="btn btn-success membership-accept"
                                        title="{{ _('Accept') }}"
                                        data-api="{{ url('youckan/membership', request.id, 'accept') }}">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </a>
                                </div>
                                <div class="btn-group btn-group-sm">
                                    <a href class="btn btn-danger membership-refuse"
                                        title="{{ _('Refuse') }}"
                                        data-api="{{ url('youckan/membership', request.id, 'refuse') }}">
                                        <span class="glyphicon glyphicon-remove"></span>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}

            </div>
        </div>
        {# end Dataset tabs #}

    </div>
</section>
{% endblock %}

{% block hiddens %}
{% if not user %}
<meta name="login-to-follow-org-i18n" content="{{ _('You need to be logged in to follow an organization') }}">
<meta name="login-for-membership-i18n" content="{{ _('You need to be logged in to request membership to an organization') }}">
<meta name="login-for-pendings-i18n" content="{{ _('You need to be logged in to accept or refuse a membership request') }}">
{% endif %}
{% if not is_member %}
<meta name="membership-requested-i18n" content="{{ _('A request has been sent to the administrators') }}">
<meta name="membership-request-error-i18n" content="{{ _('Error while requesting membership to {org}') }}">
{% endif %}
{% if is_admin %}
<meta name="membership-accepted-i18n" content="{{ _('Membership request has been accepted') }}">
<meta name="membership-refused-i18n" content="{{ _('Membership request has been refused') }}">
<meta name="membership-response-error-i18n" content="{{ _('Error while responding to membership request') }}">
{% endif %}
<meta name="following-org-i18n" content="{{ _('You are now following {org}') }}">
<meta name="unfollowing-org-i18n" content="{{ _('You are not following {org} anymore') }}">
<meta name="follow-org-error-i18n" content="{{ _('Error while toggling follower status') }}">

{# Membership request modal #}
{% if not member and not pending %}
<div class="modal fade" id="membership-modal" tabindex="-1" role="dialog" aria-labelledby="membership-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="membership-modal-title" class="modal-title">{{ _("Membership request") }}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans %}Your can add some details here for your membership request.{% endtrans %}</p>
                <form role="form">
                    <div class="form-group">
                        <label for="comment">{{ _('Details') }}</label>
                        <textarea id="comment" name="comment" class="form-control" rows="3"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a id="membership-submit" class="btn btn-primary" href>
                    <span class="glyphicon glyphicon-envelope"></span>
                    {{ _("Send request") }}
                </a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    {{ _("Cancel") }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}

{# Membership refusal modal #}
{% if is_admin and pending_requests %}
<div class="modal fade" id="refusal-modal" tabindex="-1" role="dialog" aria-labelledby="refusal-modal-title" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 id="refusal-modal-title" class="modal-title">{{ _("Membership refusal") }}</h4>
            </div>
            <div class="modal-body">
                <p>{% trans %}Please add your refusal reason here.{% endtrans %}</p>
                <form role="form">
                    <div class="form-group">
                        <label for="comment">{{ _('Refusal reason') }}</label>
                        <textarea id="comment" name="comment" class="form-control" rows="3" required></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <a id="refusal-submit" class="btn btn-primary" href>
                    <span class="glyphicon glyphicon-minus-sign"></span>
                    {{ _("Refuse") }}
                </a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">
                    <span class="glyphicon glyphicon-remove"></span>
                    {{ _("Cancel") }}
                </button>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block javascript %}
{% assets "organization-js" %}
<script src="{{ ASSET_URL}}"></script>
{% endassets %}
{% endblock %}
