{% extends "site.html" %}

{% set style = 'organization' %}

{% block title %}{{organization.title}}{% endblock %}

{% block content %}
<section class="default">
    <div class="container organization-container">

        <div class="row">

            <div class="col-sm-9">
                <h1>
                    {{ organization.title }}
                    {% if can_edit %}
                    <small>
                        <a class="btn btn-xs btn-default"
                            href="{{ url(lang, 'organization/edit', organization.name) }}">
                            <span class="glyphicon glyphicon-edit" ></span>
                            {% trans %}Edit{% endtrans %}
                        </a>
                    </small>
                    {% endif %}
                </h1>
                <div>{{ markdown(organization.description) }}</div>
            </div>

            {# Left sidebar with organization aside ( counters, logo, social...) #}
            <aside class="col-sm-3 card">
                {% if organization.certified_public_service %}
                    <img src="{{static('/img/certified-stamp.png')}}" alt="certified"
                        class="certified" rel="popover"
                        data-title="{% trans %}Certified public service{% endtrans %}"
                        data-content="{% trans %}This organization and its datasets are certified by data.gouv.fr{% endtrans %}"
                        data-container="body" data-placement="left" data-trigger="hover"/>
                {% endif %}
                <div class="text-center">
                    <img src="{{organization.image_url or static('/base/images/placeholder-organization.png') }}"
                        alt="{{ organization.title }}" class="scalable" />
                </div>
                <br/>
                <p class="text-center">
                    <strong>{% trans nb=nb_members %}{{nb}} member{% pluralize %}{{nb}} members{% endtrans %}</strong>
                </p>
                <p class="text-center">
                    <strong>{% trans nb=nb_followers %}{{nb}} follower{% pluralize %}{{nb}} followers{% endtrans %}</strong>
                </p>
                <p class="text-center">
                    <strong>{% trans nb=nb_datasets %}{{nb}} dataset{% pluralize %}{{nb}} datasets{% endtrans %}</strong>
                </p>
                <div class="text-left">
                    <a href class="btn btn-primary btn-block btn-sm icon-left follow"
                        data-organization-id="{{ organization.id }}"
                        data-organization-title="{{ organization.title }}"
                        data-is-following="{% if is_following %}true{% else %}false{% endif %}"
                        data-follow-api="{{ url('api/3/action/follow_group') }}"
                        data-unfollow-api="{{ url('api/3/action/unfollow_group') }}"
                        data-follow-label="{% trans %}Follow{% endtrans %}"
                        data-unfollow-label="{% trans %}Unfollow{% endtrans %}"
                        {% if is_following %}
                        title="{% trans %}Unfollow{% endtrans %}">
                        <span class="glyphicon glyphicon-eye-close"></span>
                        {% trans %}Unfollow{% endtrans %}
                        {% else %}
                        title="{% trans %}Follow{% endtrans %}">
                        <span class="glyphicon glyphicon-eye-open"></span>
                        {% trans %}Follow{% endtrans %}
                        {% endif %}
                    </a>
                    {# {% if is_member %}
                        <a href="{{ url(lang, 'group/leave', organization.id) }}"
                            title="{% trans %}Leave this organization{% endtrans %}"
                            class="btn btn-primary btn-block btn-sm icon-left">
                            <span class="glyphicon glyphicon-log-out"></span>
                            {% trans %}Leave{% endtrans %}
                        </a>
                    {% else %}
                        <a href="{{ url(lang, 'group/join', organization.id) }}"
                            title="{% trans %}Join this organization{% endtrans %}"
                            class="btn btn-primary btn-block btn-sm icon-left">
                            <span class="glyphicon glyphicon-log-out"></span>
                            {% trans %}Join{% endtrans %}
                        </a>
                    {% endif %} #}
                </div>
            </aside>
        </div>

        {# Dataset tabs #}
        <div class="row">
            <div class="col-xs-12">
                <ul id="tabs" class="nav nav-pills" data-tabs="tabs">
                    {% for tab_id, label, datasets in dataset_tabs %}
                    <li {% if loop.first %}class="active"{% endif %}>
                        <a href="#{{tab_id}}" data-toggle="tab">{{ label }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="tab-content">

                {% for tab_id, label, datasets in dataset_tabs  %}
                <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{tab_id}}">
                    <ul class="card-list">

                        {% for dataset in datasets %}
                        <li class="col-md-4 col-sm-6">
                            {% include "cards/dataset-card.html" %}
                        </li>
                        {% endfor %}

                    </ul>
                </div>
                {% endfor %}

            </div>
        </div>
        {# end Dataset tabs #}

    </div>
</section>
{% endblock %}

{% block hiddens %}
<meta name="login-to-follow-org-translation" content="{{ _('You need to be logged in to follow an organization') }}">
<meta name="following-org-translation" content="{{ _('You are now following {org}') }}">
<meta name="unfollowing-org-translation" content="{{ _('You are not following {org} anymore') }}">
<meta name="follow-org-error-translation" content="{{ _('Error while toggling follower status') }}">
{% endblock %}

{% block javascript %}
{% assets "organization-js" %}
<script src="{{ ASSET_URL}}"></script>
{% endassets %}
{% endblock %}
