<section class="projects_block home">
    <h1>En vedette</h1>
    <ul>
        <li>
            <figure style="background-image:url(/hetic/img/wdmtg.png)"></figure>
            <div class="project_view">
                <a href="http://wdmtg.com/">Accéder au projet</a>
            </div>
            <div class="project_txt">
            <div>
                <h2>Where Does My Tweet Go?</h2>
                <p>Interface de visualisation, au travers d'un graph, de l'influence d'un tweet et des influenceurs.</p>
            </div>
            </div>
        </li>
        <li>
            <figure style="background-image:url(/hetic/img/rennes.png)"></figure>
            <div class="project_view">
                <a href="http://dataviz.rennesmetropole.fr/quisommesnous/index-fr.php">Accéder au projet</a>
            </div>
            <div class="project_txt">
            <div>
                <h2>Métropole Rennes</h2>
                <p>Interface de visualisation destinée à faire un portrait des habitants de Rennes Métropole à partir de données ouvertes.</p>
            </div>
            </div>
        </li>
        <li>
            <figure style="background-image:url(/hetic/img/dataparis.png)"></figure>
            <div class="project_view">
                <a href="http://dataparis.io">Accéder au projet</a>
            </div>
            <div class="project_txt">
            <div>
                <h2>DataParis.io</h2>
                <p>Des données sur Paris et les Parisiens loclisées par le biais du réseau métropolitain</p>
            </div>
            </div>
        </li>
    </ul>
</section>
