{% extends "site.html" %}
{% import "macros/forms.html" as forms %}

{% block title %}{% if new %}{{ _('Add a reuse') }}{% else %}{{ _('Edit reuse') }}{% endif %}{% endblock %}

{% block extra_head %}
{% assets 'forms-css' %}
<link rel="stylesheet" media="screen" href="{{ ASSET_URL }}"/>
{% endassets %}
{% endblock %}

{% block content %}
<section class="default">
    <div class="container">

        <div class="page-header">
            <h1>{% if new %}{{ _('Add a reuse') }}{% else %}{{ _('Edit reuse') }}{% endif %}</h1>
        </div>

        <form class="form-horizontal validation" role="form" method="post">

            {% for field in form.fields %}
            {{ forms.field(field, user) }}
            {% endfor %}

            {{ forms.required_disclaimer() }}

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10 text-center">
                    {% set btn_title = _('Add') if new else _('Save') %}
                    <button type="submit" class="btn btn-primary" title="{{ btn_title }}">{{ btn_title }}</button>
                    <a href="{{ back_url }}" class="btn btn-warning" title="{{ _('Cancel') }}">{{ _('Cancel') }}</a>
                    <button class="btn btn-danger pull-right" title="{{ _('Delete') }}"
                        data-toggle="modal" data-target="#confirm-delete-modal">{{ _('Delete') }}</button>
                </div>
            </div>

        </form>

    </div>
</section>
{% endblock %}

{% block hiddens %}
{# Confirm delete modal #}
<div class="modal fade" id="confirm-delete-modal" tabindex="-1" role="dialog"
    aria-labelledby="confirm-delete-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="confirm-delete-modal-label">{{ _('Confirm deletion') }}</h4>
            </div>
            <div class="modal-body">
                <p>
                {{ _('You are about to delete this reuse.') }}<br/>
                {{ _('This operation is unreversible') }}
                </p>
                <p><strong>{{ _('Are you sure ?') }}</strong></p>
            </div>
            <div class="modal-footer">
                <a href="{{ delete_url }}" class="btn btn-primary postable">{{ _('Yes') }}</a>
                <button type="button" class="btn btn-warning" data-dismiss="modal">{{ _('No') }}</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
{% assets "forms-js" %}
<script src="{{ ASSET_URL}}"></script>
{% endassets %}
{% endblock %}
