<div class="input-group">
    <input type="search" class="form-control" placeholder="Search">
    <span class="input-group-btn">
        <button class="btn btn-highlight" type="button"><span class="glyphicon glyphicon-search"></span></button>
    </span>
</div>
<div id="search-where" class="input-group collapse">
    <input type="search" class="form-control" placeholder="Where">
    <span class="input-group-btn">
        <button class="btn btn-highlight" type="button"><span class="glyphicon glyphicon-globe"></span></button>
    </span>
</div>
