<nav id="sidebar" class="panel panel-default">
    <div class="panel-heading">
        <a href data-toggle="collapse" data-target="#sidebar .panel-body">{% trans %}Public data{% endtrans %}</a>
    </div>
    <div class="panel-body collapse">
        <ul class="list-unstyled">
            <li><a href="#">{% trans %}Definition{% endtrans %}</a></li>
            <li><a href="{{ url('organization') }}">{% trans %}Publishers{% endtrans %}</a></li>
            <li>
                <a href="http://www.etalab.gouv.fr/pages/licence-ouverte-open-licence-5899923.html">
                    {% trans %}Open license{% endtrans %}
                </a>
            </li>
            <li><a href="#">{% trans %}Which data ?{% endtrans %}</a></li>
            <li><a href="http://www.etalab.gouv.fr/">ETALAB</a></li>
        </ul>
    </div>

    {% include "search.html" %}

    <div class="list-group">
        {% for title, icon in groups %}
        <a class="list-group-item" href="{{ url('group', slugify(title)) }}">
            <span class="icon icon-{{icon}}"></span>
            {{ title }}
        </a>
        {% endfor %}
    </div>
</nav>
