<nav id="sidebar" class="panel">

    {# Public data presentation #}
    <div class="panel-heading">
        <a href data-toggle="collapse" data-target="#public-data-panel">{% trans %}Public data{% endtrans %}</a>
    </div>
    <div id="public-data-panel" class="panel-body collapse">
        <ul class="list-unstyled">
            <li><a href="#">{% trans %}Definition{% endtrans %}</a></li>
            <li><a href="{{ url(lang, 'organization') }}">{% trans %}Publishers{% endtrans %}</a></li>
            <li>
                <a href="http://www.etalab.gouv.fr/pages/licence-ouverte-open-licence-5899923.html">
                    {% trans %}Open license{% endtrans %}
                </a>
            </li>
            <li><a href="#">{% trans %}Which data ?{% endtrans %}</a></li>
            <li><a href="http://www.etalab.gouv.fr/">ETALAB</a></li>
        </ul>
    </div>

    {# Search #}
    <form id="search-form" action="{{ url(lang, 'dataset') }}">
        <div id="search-group" class="input-group input-group-lg">
            <input id="search-input" name="q" type="search" class="form-control" autocomplete="off"
                placeholder="{% trans %}Search{% endtrans %}">
            <span class="input-group-btn">
                <button class="btn btn-highlight" type="submit"><span class="glyphicon glyphicon-search"></span></button>
            </span>
        </div>
        <div id="where-group" class="input-group">
            <input id="where-input" type="search" class="form-control" autocomplete="off"
                placeholder="{% trans %}Where{% endtrans %}">
            <span class="input-group-addon"><span class="glyphicon glyphicon-globe"></span></span>
        </div>
        <input id="ext_territory" name="ext_territory" type="hidden" />
    </form>

    {# Groups #}
    <div class="list-group">
        {% for title, icon, link in sidebar_groups %}
        <a class="list-group-item" href="{{ link or url(lang, 'group', slugify(title)) }}">
            <span class="icon icon-{{icon}}"></span>
            {{ title }}
        </a>
        {% endfor %}
    </div>

</nav>
