<nav id="sidebar" class="panel">

    {# Public data presentation #}
    <div class="panel-heading">
        <a href data-toggle="collapse" data-target="#public-data-panel">{% trans %}Public data{% endtrans %}</a>
    </div>

    <div id="public-data-panel" class="panel-body collapse in">
        <ul class="list-unstyled">
            <li><a href="http://wiki.etalab2.fr/wiki/FAQ">{% trans %}How it works ?{% endtrans %}</a></li>
            <li><a href="{{ url(lang, 'organization') }}">{% trans %}Publishers{% endtrans %}</a></li>
            <li>
                <a href="http://www.etalab.gouv.fr/pages/licence-ouverte-open-licence-5899923.html">
                    {% trans %}Open license{% endtrans %}
                </a>
            </li>
            <li><a href="http://www.etalab.gouv.fr/">ETALAB</a></li>
        </ul>
    </div>

    {# Groups #}
    <div class="list-group">
        {% for title, icon, link in sidebar_groups %}
        <a class="list-group-item" href="{{ link or url(lang, 'group', slugify(title)) }}">
            <span class="icon icon-{{icon}}"></span>
            {{ title }}
        </a>
        {% endfor %}
    </div>

</nav>
