<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="{{lang}}"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="{{lang}}"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="{{lang}}"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="{{lang}}"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <meta name="robots" content="noindex, nofollow">
    <meta name="description" content="Données ouvertes françaises">
    <meta name="author" content="ETALAB">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}{% endblock %} - Etalab2.fr</title>
    <link rel="shortcut icon" href="{{ static('/images/favicon.png') }}">

    {# Reference to other Etalab sites #}
    <meta name="domain" content="{{ DOMAIN }}" />
    <link rel="home" href="{{ HOME_URL }}" />
    <link rel="wiki" href="{{ WIKI_URL }}" />
    <link rel="wiki-api" href="{{ WIKI_API_URL }}" />
    <link rel="cow" href="{{ COW_URL }}" />
    <link rel="questions" href="{{ QUESTIONS_URL }}" />

    {# Default style to site, overridden by child templates #}
    {% set style = style|default('site') -%}
    {% assets '{0}-css'.format(style) %}
    <link rel="stylesheet" media="screen" href="{{ ASSET_URL }}">
    {% endassets %}

    {% assets "modernizr" %}
    <script src="{{ ASSET_URL}}"></script>
    {% endassets %}

    {% block extra_head %}{% endblock %}

</head>
<body>

    {% include "navbar.html" %}
    {% block subnav %}{% include 'subnav-s.html' %}{% endblock %}

    {% block content %}{% endblock %}

    {% include "footer.html" %}

    {# Message template #}
    <script id="message-template"  type="text/x-swig-template">
        {% raw %}
        <div class="alert alert-{{level}} alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{message}}
        </div>
        {% endraw %}
    </script>

    {# jQuery validate messages #}
    <meta name="valid-required-i18n" content="{{ _('This field is required.') }}" />
    <meta name="valid-remote-i18n" content="{{ _('Please fix this field.') }}" />
    <meta name="valid-email-i18n" content="{{ _('Please enter a valid email address.') }}" />
    <meta name="valid-url-i18n" content="{{ _('Please enter a valid URL.') }}" />
    <meta name="valid-date-i18n" content="{{ _('Please enter a valid date.') }}" />
    <meta name="valid-date-iso-i18n" content="{{ _('Please enter a valid date (ISO).') }}" />
    <meta name="valid-number-i18n" content="{{ _('Please enter a valid number.') }}" />
    <meta name="valid-digits-i18n" content="{{ _('Please enter only digits.') }}" />
    <meta name="valid-creditcard-i18n" content="{{ _('Please enter a valid credit card number.') }}" />
    <meta name="valid-equal-to-i18n" content="{{ _('Please enter the same value again.') }}" />
    <meta name="valid-maxlength-i18n" content="{{ _('Please enter no more than {0} characters.') }}" />
    <meta name="valid-minlength-i18n" content="{{ _('Please enter at least {0} characters.') }}" />
    <meta name="valid-range-length-i18n" content="{{ _('Please enter a value between {0} and {1} characters long.') }}" />
    <meta name="valid-range-i18n" content="{{ _('Please enter a value between {0} and {1}.') }}" />
    <meta name="valid-max-i18n" content="{{ _('Please enter a value less than or equal to {0}.') }}" />
    <meta name="valid-min-i18n" content="{{ _('Please enter a value greater than or equal to {0}.') }}" />
    {% block hiddens %}{% endblock %}

    {# Load scripts after for faster page loading #}
    <!--[if lt IE 9]>
        {% assets "site-legacy-js" %}
        <script src="{{ ASSET_URL}}"></script>
        {% endassets %}
    <![endif]-->
    <!--[if gte IE 9]><!-->
        {% assets "site-js" %}
        <script src="{{ ASSET_URL}}"></script>
        {% endassets %}
    <!--<![endif]-->

    {% block javascript %}{% endblock %}

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      _paq.push(["trackPageView"]);
      _paq.push(["enableLinkTracking"]);

      (function() {
        var u=(("https:" == document.location.protocol) ? "https" : "http")
    + "://webstats.easter-eggs.com/";
        _paq.push(["setTrackerUrl", u+"piwik.php"]);
        _paq.push(["setSiteId", "30"]);
        var d=document, g=d.createElement("script"),
    s=d.getElementsByTagName("script")[0]; g.type="text/javascript";
        g.defer=true; g.async=true; g.src=u+"piwik.js";
    s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->
</body>
</html>
